@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
body {
  margin: 0;

  transition: all 0.3s ease-in-out;
  box-sizing: border-box;
  transition: all 1s linear;
}
::-webkit-scrollbar {
  display: none;
}
a {
  text-decoration: none;
  color: inherit;
}

.corousel {
  grid-column: 1/3;
 

  border-radius: 4px;
  position: relative;
}
.corousel--slide {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 4px;
  overflow-x: hidden;
  width: 100%;
  justify-content: space-around;
}
.corousel--current {
  height: 10px;
  width: 100%;
  bottom: 12px;
  display: flex;
  justify-content: center;
  gap: 20px;

  position: absolute;
  z-index: 20;
}

.corousel--image {
  width: 100%;

  object-fit: contain;
}
.corousel--current__circles {
  height: 8px;
  width: 8px;
  z-index: 300;
  border-radius: 50%;
  background-color: gray;
  transition: all 0.5s ease-in-out;
}
.active-dark {
  transform: scale(1.3);
  background-color: white;
}
.active {
  background-color: #ab47bc;
  transform: scale(1.3);
}
@media screen and (min-width: 600px) {
  .corousel {
    grid-column: 1/4;
    height: 100%;
  }
}
@media screen and (min-width: 900px) {
  .corousel {
    grid-column: 1/3;
  }
}

@keyframes fade-in {
  0% {

    opacity: 0;
  }

  100% {

    opacity: 1;
  }
}
